.idea
.vs

Brand.API/bin
Brand.API/obj
Brand.API/appsettings.Development.json
Brand.Domain/bin
Brand.Domain/obj
Brand.Infrastructure/bin
Brand.Infrastructure/obj

Product.API/bin
Product.API/obj
Product.API/appsettings.Development.json
Product.Domain/bin
Product.Domain/obj
Product.Infrastructure/bin
Product.Infrastructure/obj